body {
    background-color: var(--black-color);
    text-align: center;
    color: var(--white-color);
    justify-content: center;
    display: flex;
    align-items: center;
    /* con el valor vh le estamos diciendo que ocupe todo el espacio del viewport */
    height: 100vh;;
}
.content_paypal a{
    color: var(--green-color);
    text-decoration: none;
}
