/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

html,body{
    padding: 0px;
    margin: 0px;
}
nav{
    background: green;
    
}