/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

html,
body {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: Helvetica;
}

nav {
    display: flex;
    background: #7ACC2D;
    padding: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: gray;
    text-decoration: none;

}

nav li a:hover {
    color: white;
}

/*----------------- main_section */

.main_section {
    /* para dar un espaciado con el texto */
    padding: 15%;
    /* para alinear el texto hacia el centro */
    text-align: center;
}

.products {
    background-image: url("../images/curve.png");
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    /* mientras mas padding ponga mas pequeñas se hacen mis targetas y si pongo menos mas grande se ponen */
    padding: 20%;
    display: flex;
}
.product {
    padding: 10px;
    /* vajamos las targetas hacia abajo o si utilizamos el valor negativo van a subir*/
    margin-top: -240px;
}

.product .content {
    /* para darle color al fondo de nuestra targeta */
    background-color: white;
    /* acomodamos los elementos */
    padding: 20px;
    /* generamos una sombra en el borde
    los primeros 2 valores son de x y y el tercero es de cuanto va a tener a mi alrededor y el otro el color */
    box-shadow: 0 0 1px #b39b9b;
}

.img_content {
    /* alinear elementos hacia el centro */
    text-align: center;
}

